ansible/hosts
ansible/group_vars/*.yml
os/*.yml
os/*dns.sh
deployment/tls/*
!deployment/tls/.gitkeep
deployment/*.yaml
docker/Dockerfile.*
job/*-dyndns.yaml
default-backend/*.yaml
s2i/**/*.groovy
s2i/**/*.py
s2i/sf-demo/public/*
!s2i/sf-demo/public/.gitkeep